<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <h1>Anxiety Tracker</h1>
    <button type="button" name="button"><a href="/anxietytracker/new">Add New Anxiety Episode</a></button>
    <h2>Anxiety Episodes:</h2>
    <ul>

    <% for (let i=0; i<anxieties.length; i++) { %>
      <li> <%=anxieties[i].date%>:
        <a href="/anxietytracker/<%=anxieties[i].id%>"><%=anxieties[i].trigger%></a>
        |
        <%=anxieties[i].intensity%>
        <button type="button" name="button"><a href="/anxietytracker/<%=anxieties[i].id; %>/edit">Edit</a></button>

      <form action="/anxietytracker/<%=anxieties[i].id%>?_method=DELETE" method="POST">
      <input type="submit" name="" value="DELETE">
      </form>
      </li>
    <% } %>
    </ul>

  </body>
</html>
