<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <h1>Edit Anxiety Episode</h1>
    <button type="button"><a href="/anxietytracker">Home</a></button>
    <form class="form" action="/anxietytracker" method="put">
      <label for="date">Date</label>
      <input type="date" name="date" id='date' value=<%=anxiety.date%>>
      <br>
      <label for="trigger">Trigger</label>
      <input type="text" name="trigger" id="trigger" value=<%=anxiety.trigger%>>
      <br>
      Trigger Type:
      <br>

      <input type="radio" name="situation" id="situation" value=<%=anxiety.situation%>>
      <label for="situation">Situation</label>

      <input type="radio" name="thought" id="thought" value=<%=anxiety.thought%>>
      <label for="thought">Thought</label>

      <input type="radio" name="physical sensation" id="physical sensation" value=<%=anxiety.physicalSensation%>>
      <label for="physical sensation">Physical Sensation</label>

      <input type="radio" name="event" id="event" value=<%=anxiety.event%>>
      <label for="event">Event</label>

      <input type="radio" name="expectation" id="expectation" value=<%=anxiety.expectation%>>
      <label for="expectation">Expectation</label>
      <br>
      <label for="intensity">Intensity</label>
      <input type="range" name="intensity" id="intensity" value="50" min="1" max="100" value=<%=anxiety.intensity%>>
      <br>
      <label for="thoughts">Thoughts:</label>
      <input type="text" name="thoughts" id="thoughts" value=<%=anxiety.thoughts%>><br>
      <input type="submit" name="submit" value="Submit">



    </form>

  </body>
</html>
